/* calendarDay.css  */

.THIS.outline {
    border: solid black 1px;
    vertical-align:top;
}

.THIS .thClass {
    vertical-align:top;
    text-align: center;

}

.THIS .subtable {
    vertical-align:top;
    position: relative;

}